body {
  background-image: url('./background.jpg');
  background-size: cover;
  background-color: black;
}

.jumbotron {
  background-color: rgba(105, 105, 105, 0.8);
  margin-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 20px;
}

.main-heading {
  margin-bottom: 5px;
}

.generation {
  padding-top: 10px;
  margin-right: 15px;
  text-align: right;
}

.box {
  display: inline-block;
  /*border: 1px solid;*/
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  background-color: black;
}

.on {
  background-color: blue;
}

.box:hover {
  background: blue;
}

.center {
  margin: auto;
  margin-left: 15px;
  display: table;
  margin-top: 10px;
}

.grid {
  /*only needed when grid is not dynamic*/
  /*width: 250px;*/
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 50px blue;
  margin-top: 10px;
}

h1, h2, h3, h4 {
  color: white !important;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
}
p {
  color: white;
  font-family: 'Roboto', sans-serif;
  /*font-weight: bold;*/
}
